body{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.selectPodcast{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    display: block;
    margin: 10px;
    text-align: center;
}

#rangeFrequency{
    width: 500px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

a{
    display: block;
}
